$white: #ffffff;
$colorLight: #fbfbfb;
$colorDark: #0a0a0a;
$coloGrayLight: #949494;
$colorPink: #c42367;
$colorRed: #eb2763;
$colorForLang: #dd2565;
$colorLinkTopMenu: #dabfd5;
$violet: #4a1570;
$pink: #c82367;
$gray: #ebebeb;
$bg-section: #3e1858;