@mixin bg-gradient($color-first, $color-second) {
  background: linear-gradient(to right, $color-first, $color-second);
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder { color: $color; }
  &:-moz-placeholder { color: $color;}
  &::-moz-placeholder { color: $color; }
  &:-ms-input-placeholder { color: $color; }
}

@mixin button ($color, $bd-color, $hov-color, $hov-bg) {
  color: $color;
  border: 1px solid $bd-color;
  border-radius: 3px;
  background: none;
  outline: none;

  &:hover {
    color: $hov-color;
    border-color: rgba(0,0,0,0);
    background: $hov-bg;
  }
}
