@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museosanscyrl100.woff2') format('woff2'),
  url('../fonts/Museosanscyrl100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museosanscyrl300.woff2') format('woff2'),
  url('../fonts/Museosanscyrl300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museosanscyrl500.woff2') format('woff2'),
  url('../fonts/Museosanscyrl500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/Museosanscyrl700.woff2') format('woff2'),
  url('../fonts/Museosanscyrl700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$mainFont: 300 16px/1.3 'Museo Sans Cyrl', Arial, sans-serif;